@import url('/assets/fonts/fonts.css'); /* 절대경로 기준 */
@import "tailwindcss";
@keyframes slideInDown {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .slideInDown {
    animation: slideInDown 0.5s ease-out forwards;
  }
  